


<div class="container">
    <h1> Edition du commentaire n° <%= @comidf.id  %> </h1>
<br>

<div class="card text-center">
  <div class="card-header">
  Comment n°<%= @comidf.id  %>
  </div>
  <div class="card-body">

    <p class="card-text"><%= @comidf.content  %></p>
   
    <a href="<%= author_path(@comidf.user.id)%>" class="btn btn-primary">Ecrit par: <%= @comidf.user.first_name %></a>
    <br>
    <br>
  </div>
    <%= form_tag url_for(action: 'destroy'), method: "delete" do %>

      <%= submit_tag "Supprimer" %>

    <% end %>


  <div class="card-footer text-muted">
  <%= @comidf.created_at  %>
  </div>
</div>


    <%= form_for @comidf do |i| %>

        <div class="form-group">
            <label> Nouveau content </label>
            <%= i.text_area :content, class: 'form-control' %>
        </div>

        <div class="form-group">
            <button type="submit"> Go </button>
        </div>

    <% end %>





</div>