<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex flex-column  align-items-center">
<a class="navbar-brand" href="<%= root_path %>">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href= <%= pages_team_path %> >Team <span class="sr-only"></span></a>
      <a class="nav-item nav-link" href="<%= pages_contact_path %>">Contact</a>

    </div>
  </div>
</nav>

<div class="container">

<br>
<div class="card" style="width: 18rem;">
<div class="card-header">Name : <%= @autid.first_name %></div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Last Name : <%= @autid.last_name %> </li>
    <li class="list-group-item">Email : <%= @autid.email %></li>
    <li class="list-group-item">Age : <%= @autid.age %></li>
    <li class="list-group-item"><a href=  "<%= city_path(@autid.city.id)%>">City : <%= @autid.city.name %></a></li>
    <li class="list-group-item">Description : <%= @autid.description %></li>
  </ul>
</div>
<br>

<% @autgos.each do |i| %>
    <div class="card text-center">
  <div class="card-header">
  Gossip n°<%= i.id %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= i.title %></h5>
    <p class="card-text"><%= i.content %></p>
  </div>
  <div class="card-footer text-muted">
  <%= i.created_at %>
  </div>
  
</div>
    <br>
<% end %>

</div>
