
<div class="container">

<br>
<div class="card" style="width: 18rem;">
<div class="card-header">Name : <%= @autid.first_name %></div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Last Name : <%= @autid.last_name %> </li>
    <li class="list-group-item">Email : <%= @autid.email %></li>
    <li class="list-group-item">Age : <%= @autid.age %></li>
    <li class="list-group-item"><a href=  "<%= city_path(@autid.city.id)%>">City : <%= @autid.city.name %></a></li>
    <li class="list-group-item">Description : <%= @autid.description %></li>
  </ul>
</div>
<br>

<% @autgos.each do |i| %>
    <div class="card text-center">
  <div class="card-header">
  Gossip n°<%= i.id %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= i.title %></h5>
    <p class="card-text"><%= i.content %></p>
  </div>
  <div class="card-footer text-muted">
  <%= i.created_at %>
  </div>
  
</div>
    <br>
<% end %>

</div>
