

<div class="container">
    <h1> Edition du potin n° <%= @gosid.id  %> </h1>

<br>

<div class="card text-center">
  <div class="card-header">
  Potin n°<%= @gosid.id  %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @gosid.title  %></h5>

    <p class="card-text"><%= @gosid.content  %></p>
   
    <a href="<%= author_path(@gosid.user.id)%>" class="btn btn-primary">Ecrit par: <%= @gosid.user.first_name %></a>
    <br>
    <br>
    <p class="card-text"><a href="<%= city_path(@gosid.user.city.id)%>">Ecrit à: <%= @gosid.user.city.name  %></a> </p>
  </div>
  <div class="card-footer text-muted">
  <%= @gosid.created_at  %>
  </div>
</div>

    <%= form_for @gosid do |i| %>

        <div class="form-group">
            <label> Nouveau Titre </label>
            <%= i.text_area :title, class: 'form-control' %>
        </div>

        <div class="form-group">
            <label> Nouveau content </label>
            <%= i.text_area :content, class: 'form-control' %>
        </div>

        <div class="form-group">
            <button type="submit"> Go </button>
        </div>

    <% end %>


</div>