<section>

    <%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'title' %>
      <%= text_field_tag 'title', @post %>
      <br /> <br />

      <%= label_tag 'content' %>
      <%= text_area_tag 'content', @post %>
      <br /> <br />

      <%= submit_tag "S'iscrire" %>

    <% end %>

       <%= @i %>

     <% flash.each do |type, msg| %>
      <div class="alert alert-danger">
     <%= msg %>
      </div>
    <% end %>



</section>