<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex flex-column  align-items-center">
<a class="navbar-brand" href="<%= root_path %>">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href= <%= pages_team_path %> >Team <span class="sr-only"></span></a>
      <a class="nav-item nav-link" href="<%= pages_contact_path %>">Contact</a>

    </div>
  </div>
</nav>


<section>

    <%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'title' %>
      <%= text_field_tag 'title', @post %>
      <br /> <br />

      <%= label_tag 'content' %>
      <%= text_area_tag 'content', @post %>
      <br /> <br />

      <%= submit_tag "Create Post" %>

    <% end %>

       <%= @i %>

     <% flash.each do |type, msg| %>
      <div class="alert alert-danger">
     <%= msg %>
      </div>
    <% end %>



</section>