
<div class="container">

<br>

<div class="card text-center">
  <div class="card-header">
  Potin n°<%= @gosid.id  %> / Like: <%= @gosid.likes.count %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @gosid.title  %></h5>

    <p class="card-text"><%= @gosid.content  %></p>
   
    <a href="<%= author_path(@gosid.user.id)%>" class="btn btn-primary">Ecrit par: <%= @gosid.user.first_name %></a>
    <br>
    <br>
    <p class="card-text"><a href="<%= city_path(@gosid.user.city.id)%>">Ecrit à: <%= @gosid.user.city.name  %></a> </p>
    
  </div>

    <% if logged_in?  %>

          <% if current_user.id == @gosid.user.id %>

            <div class="card-footer text-muted"><a href="/gossips/<%= @gosid.id%>/edit"> Edit</a></div>
            <%= form_tag url_for(action: 'destroy'), method: "delete" do %>

                  <%= submit_tag "Supprimer" %>

            <% end %>

          <%else %>

          <% end %>

    <%else %>

    <% end %>


    <% if @like %>

     <% if @like.user.id == current_user.id && @like.gossip.id == @gosid.id %>

      <%= form_tag url_for(:action=>"destroy", :controller=>"likes"), method: "delete" do %>

                  <%= submit_tag "Unlike" %>

            <% end %>

      <%else %>

      <% end %>
      <%else %>
      
        <% if logged_in?  %>

        <%= form_tag url_for(:action=>"create", :controller=>"likes"), method: "post" do %>

        <%= hidden_field_tag 'gossip_id', @gosid.id %>

          <%= submit_tag "Like" %>

        <% end %>

    <%else %>

    <% end %>

      <% end%>

</div>

<br>

<%= form_tag url_for(:action=>"create", :controller=>"comments"), method: "post" do %>

      <%= label_tag 'Comment' %>
      <%= text_area_tag 'content', @com %>
      <%= hidden_field_tag 'gossip_id', @gosid.id %>
      <br /> <br />

      <%= submit_tag "Create Comment" %>

    <% end %>
<br>


 <%  @goscom.each do |i|  %>

    <div class="card">
        <h5 class="card-header">Commentaire n°<%= i.id  %> </h5>
        <div class="card-body">
         <h5 class="card-title">Author: <%= i.user.first_name  %></h5>
        <h5 class="card-title">Text: <%= i.content  %></h5>

        </div>

        <% if logged_in?  %>

          <% if current_user.id == i.user.id %>

            <div class="card-footer text-muted"><a href=<%= edit_comment_path(i.id) %>> Edit</a></div>

          <%else %>

          <% end %>

    <%else %>

    <% end %>

    </div>
    <br>

    <% end %>
    
</div>

 