
    
    <div class="container">
        <h1 class="text-center">Les gossips de <%= @cityid.name %>  </h1>
    

    <br>

<% @citygos.each do |i| %>
    <%  k = i.gossips %>

    <% k.each do |j| %>    

        <div class="card text-center">

            <div class="card-header">Gossip n°<%= j.id %></div>

            <div class="card-body">

                <h5 class="card-title"><%= j.title %></h5>
                <p class="card-text"><%= j.content %></p>

            </div>

            <div class="card-footer">Gossip de <%= j.user.first_name %></div>
       
        </div>

        <br>

    <% end %>

<% end %>

    </div>
